@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(
    --foreground,
    #e0e0e0
  ); /* Light foreground text for dark background */
  background: conic-gradient(
        from 90deg at 1px 1px,
        #00000000 90deg,
        rgba(249, 234, 234, 0.1) 0 /* Lighter grid pattern for dark theme */
      )
      0 0/70px 70px,
    #000000; /* Dark background color */
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .active-nav {
    @apply text-purple-400 bg-purple-900/30;
  }
}

